@use '@/assets/styles/_variables.sass'

// Cusom mixins are defined here.
@mixin flex-container($flex-direction: row, $justify-content: flex-start, $align-items: flex-start)
    display: flex
    flex-direction: $flex-direction
    justify-content: $justify-content
    align-items: $align-items


// Native HTML components are overwritten here.
%header-text
    font-style: normal
    font-weight: 400

h1
    @extend %header-text
    font-size: 72px
    line-height: 80px
    letter-spacing: 1px
    color: variables.$cassandra-blue
    margin-bottom: 32px

h2
    @extend %header-text
    font-size: 20px
    line-height: 32px
    color: variables.$cassandra-black

section
    @include flex-container($flex-direction: column, $justify-content: center, $align-items: center)
    position: relative
    padding: 0 10vw

.header-container
    @include flex-container($flex-direction: row, $justify-content: space-between, $align-items: center)
    height: variables.$cga-header-height
    min-height: variables.$cga-header-height
    width: 100%
    padding: 10px 26px

    .header-actions
        @include flex-container($flex-direction: row, $justify-content: flex-end, $align-items: center)

        & > *:not(:last-child)
            margin-right: 10px

// Custom global SASS classes are defined here.
.flex-start
    justify-content: flex-start !important
    padding-right: 0 !important

.flex-end
    justify-content: flex-end !important
    padding-left: 0 !important

.flex-center
    justify-content: center

.action-button
    border-color: variables.$cassandra-gradient-blue
    background-color: variables.$cassandra-white
    color: variables.$cassandra-gradient-blue

    &:hover
        border-color: variables.$cassandra-gradient-blue
        background-color: variables.$cassandra-gradient-blue
        color: variables.$cassandra-white

.action-button--discard
    border-color: variables.$cassandra-red
    background-color: variables.$cassandra-white
    color: variables.$cassandra-red

    &:hover
        border-color: variables.$cassandra-red
        background-color: variables.$cassandra-red
        color: variables.$cassandra-white

.action-button-active
    border-color: variables.$cassandra-gradient-blue
    background-color: variables.$cassandra-gradient-blue
    color: variables.$cassandra-white

.text--cassandra-blue
    color: variables.$cassandra-gradient-blue

.error-message
    color: variables.$cassandra-red
    margin-bottom: 1rem
    margin-top: 0.5rem

// Vuetify component classes are overwritten here.
.v-overlay__content
    @include flex-container($flex-direction: column, $justify-content: center, $align-items: center)

.v-dialog .v-overlay__content > .v-card > .v-card-text
    padding-bottom: 16px

.v-input__details
    padding-bottom: 6px

.v-list-item--active > .v-list-item__overlay, .v-list-item:focus-visible > .v-list-item__overlay, 
.v-list-item--active:hover > .v-list-item__overlay
    opacity: 0

.v-list.v-theme--light.v-list--density-default.v-list--one-line
    width: 100%

.v-text-field .v-input__details
    padding-inline-start: 0

.v-expansion-panel-title--active:hover > .v-expansion-panel-title__overlay,
.v-expansion-panel-title:hover > .v-expansion-panel-title__overlay,
.v-expansion-panel-title__overlay 
    background-color: variables.$cassandra-white

.v-expansion-panel--active > .v-expansion-panel-title
    border-bottom: 1px solid variables.$cassandra-light-gray
    min-height: 48px !important

.v-expansion-panel-text__wrapper
    padding: 20px

.v-btn__overlay
    border-radius: 0px

.v-overlay__content.v-select__content
    max-height: 400px !important

.v-expansion-panel--active
    max-height: 400px

.elevation-1
    box-shadow: 0px 2px 1px -1px variables.$cassandra-light-gray !important

.v-progress-circular
    color: variables.$cassandra-blue

.query-panel-item .v-overlay__scrim
    display: none

.p-button
    color: variables.$cassandra-gradient-blue !important

input:-internal-autofill-selected
    background-color: none !important

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider
    background-color: variables.$cassandra-gradient-blue !important