// Application color variables (Color pallete of Cassandra)
$cassandra-white: #ffffff
$cassandra-light-blue: #bbe6fb
$cassandra-blue: #1287b1
$cassandra-gray: #373535
$cassandra-black: #0f172a
$cassandra-red: #ff3333
$cassandra-yellow: #ffcc00

// Application dimensions
$cga-topbar-height: 88px

// Conceptual Graphs constants
$cga-graph-border-width: 1px
$cga-graph-border-radius: 10px
$cga-graph-content: ""

